body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.header-main {
    color: white;
    font-size: 50px;
    font-weight: normal;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

.header-2 {
    color: white;
    font-size: 42px;
    font-weight: 300
}

 .info {
    color: gray;
    font-size: 21px;
 }

 .copyright {
    color: gray;
    font-size: 21px;
    text-align: right;
}